body {
    padding:0;
    margin:0;
    font-family: helvetica;
    #center {
        text-align: center;
        padding: 22px;
        margin:20px;
        h1 {
            color:gray;
            font-size:14px;
            b {
                color:rgb(175, 0, 0);
            }
        }
    }
}